@import '~antd/dist/antd.css';

.ant-layout-header,
.ant-layout-footer {
  color: #fff;
  background: #7dbcea;
}


.ant-layout-footer {
  line-height: 1.5;
}

.ant-layout-content {
  min-height: 120px;
  line-height: 120px;
}

.ant-layout+.ant-layout {
  margin-top: 48px;
}

.ant-btn {
  margin-right: 8px;
}